<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679005315302-0skavhl12mt2auj9etqjo2o688n8ef69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679005315302-0skavhl12mt2auj9etqjo2o688n8ef69</string>
	<key>API_KEY</key>
	<string>AIzaSyCPoDLJY9-DoCybgV65YUfPmT_U3ItvZUw</string>
	<key>GCM_SENDER_ID</key>
	<string>679005315302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topitupng.topitupng</string>
	<key>PROJECT_ID</key>
	<string>topitupmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>topitupmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679005315302:ios:65df0f02b8a6045c031b27</string>
</dict>
</plist>